form {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ffffff5d;
  border-radius: 1.3rem;
  padding: 0.6rem;
  gap: .5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

button:hover {
    transform: scale(1.2);
}

input {
  outline: none;
  background-color: transparent;
  width: 100%;
  border: none;
}

input::placeholder {
    color: #ffffffa5;
}